*{box-sizing: border-box;}



/* body and page container */
body {
   background-color: #f0f8ff;
    border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.container{
	width: 1280px;
	min-height: 500px;
	margin: 0 auto;
	border: 1px solid black;
	display: table;
}



/* headings */
header{
	padding:20px;
	height:150px;
	width:100%;
	background-color:#f08080;
	clear:both;
 
}




header .title{
   color: white;
   margin-top: 10px;
   font-size: 30px;
   float: left;
   padding: 20px;
   font-family: 'Sevillana', cursive;
}

header .slogan{
	color: white;
	font-size: 25px;
	display:block;
	
	
	
}

header .logo{
	line-height: 100px;
	text-align: center;
	font-size: 115px;
	
	background: #f08080;
	float: left;
	width: 100px;
	
}

section,title{
	font-size: 25px;
	background: white;
	padding: 20px;
	text-align: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FE6666;
	 font-family: 'Crafty Girls', cursive;
	 
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover{
	background: #F9C5B4;
}










/* main content */

article,a1{
	width: 70%;
	margin: 0 auto;
}

article {
   min-height: 500px;
   width:100%;
   padding:20px;
  background-color: #ffa07a;
 font-family: 'Crafty Girls', cursive;
clear: both;
  
}

img{
 width: 300px;
 margin-left: 20px;
 border: 5px solid white;
 margin-right: 10px;
 
}




/* sidebar */
aside {
	width:30%;
	min-height: 500px;
   background-color: #ffefdb;
   color: black;
   float: right;
   clear: both;
   padding: 20px;
   font-family: 'Architects Daughter', cursive;
   
  }
.box{
	padding: 50px;
	width: 70%;
	margin: 0 auto;
}

 {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #f08080;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #F9C5B4;
}



.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




/* footer section */
footer {
	text-align: center;
	padding:20px;
	clear:both;
   color: white;
   background-color: #fa8072;
 
}


	
